<!DOCTYPE html>
<html lang="en">
    <style>
        body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background: linear-gradient(to bottom, #00d2ff, #928dab);
    color: #fff;
}
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The HTTP 404 Not Found</h1>
    <h3>The HTTP 404 Not Found client error response status code indicates that the server cannot find the requested resource. </h3>
</body>
</html>